<div class="table-container">   

    
    <input id="table-input" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">


    <table mat-table [dataSource]="dataSourceRequest" class="mat-elevation-z8" matSort matSortActive="name dateOfBirth">

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header disableClear > Name </th>
          <td mat-cell  *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="patronus">
          <th mat-header-cell *matHeaderCellDef matSortHeader> Patronus </th>
          <td mat-cell *matCellDef="let element"> {{getPatronus(element.patronus)}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="dateOfBirth">
          <th mat-header-cell *matHeaderCellDef matSortHeader  > Age  </th>
          <td mat-cell *matCellDef="let element">{{element.dateOfBirth | dateSlash }}</td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef > Image </th>
          <td mat-cell  *matCellDef="let element"> <img id="image-table" [src]="element.image" /> </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          
</div>

