#form-card{

    width: 70vw;
    height: 60vh;
    margin: 16rem 16rem auto 8rem;
    padding: auto 0 auto 0;

}

#from-content{

margin: 2rem auto 2rem auto;
display:grid;
grid-template-columns: repeat(auto-fit, minmax(10rem, 6fr));
grid-gap: 1rem;
width: 90%;
height: 100%;
padding-left:2vw;
padding-right: 2vw;
align-items: center;

}


#form-input{

    width: 5vw;

}

#submit-button {

width: 7vw;
height: 5vh;

}


mat-radio-group {

    
    display: flex;
    flex-direction: column;
    margin: 1rem auto auto 2rem;
    
}
