#form-card{

    width: 70vw;
    height: 85vh;
    margin: 5rem 16rem auto 8rem;
    padding: auto 0 auto 0;

}

#from-content{

margin: 2rem auto 2rem auto;
display:grid;
grid-template-columns: repeat(auto-fit, minmax(10rem, 6fr));
grid-gap: 1rem;
width: 90%;
height: 100%;
padding-left:2vw;
padding-right: 2vw;
align-items: center;

}


#form-input{

    width: 5vw;

}

#submit-button {

position: absolute;
width: 7vw;
height: 5vh;
top: 74vh;
left:60vw;

}


img {

    position: relative;
    width: 100%;
    left: 10vw;


}

#upload-photo{

    position: relative;
    width: 25vw;
    left: 1vw;

}


input[type=file]::file-selector-button{

    background-color: indigo;
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border:0;
    width: 15vh;
    height: 5vh;
    margin-top: 1rem;

}