.select-container{

    margin: 8rem 0 5rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Structure */
table {
    width: 100%;
    border-width: 0px;
    align-items: center;
    justify-items: center;
   
  }

#table-input{

    background-color:#fafafa;
    border: 1;
    outline: none;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    margin-bottom: 1rem ;
}

.table-container{

    margin: auto 2rem auto 2rem;

}

#image-table {

    height: 10vh;
    border-radius: 50%;
    margin: auto 1rem auto 1rem;
}


table tr {

 text-align: left;
}
